{% extends 'dogs/base.html' %}
{% load my_tags %}
{% block content %}

<form method="post" enctype="multipart/form-data" class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    {% if object %}
                        Вы уверены, что хотите удалить отзыв
                    {% endif %}
                </div>
                <div class="card-body">
                    <h5 class="card-text">{{ object.title }}</h5>
                </div>
                <div class="card-footer">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-outline-danger float-right">
                        {% if object %}
                        Удалить
                        {% endif %}
                    </button>
                    <a href="{% url 'reviews:review_update' object.slug %}" class="btn btn-outline-primary"><< Назад</a>
                </div>
            </div>
        </div>
</form>

{% endblock %}