<div class="col-md-4">
    <div class="card mb-4 box-shadow">
        <div class="card-body">
            <p class="card-text">{{ category_object.name }}</p>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a href="{% url 'dogs:category_dogs' category_object.pk %}" type="button"
                       class="btn btn-sm btn-outline-secondary">К собакам</a>
                </div>
            </div>
        </div>
    </div>
</div>