{% load my_tags %}
<div class="col-4">
    <div class="card mb-4 box-shadow">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">{{ object.name }}</h4>
        </div>
        <img class="card-img-top"
             src="{{ object.photo|dogs_media }}" width="300" height="320"
             alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title pricing-card-title">Порода: {{ object.category }}</h5>
            <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                <li>Дата рождения: {{ object.birth_date|default:'не известна' }}</li>
                <li>Просмотров: {{ object.view_count }}</li>
            </ul>
            <a class="btn btn-lg btn-block btn-outline-info"
               href="{% url 'dogs:detail_dog' object.pk %}">Информация</a>
            {% if user.is_authenticated and object.owner == user or user.is_staff %}
            	<a class="btn btn-lg btn-block btn-outline-warning"
                   href="{% url 'dogs:update_dog' object.pk %}">{% if user.is_superuser or object.owner == user %}
                   	Изменить/Удалить
                    {% elif user.is_staff %}
                    Изменить
                   {% endif %} 
                </a>
            {% endif %} 
        </div>
    </div>
</div>