{% extends 'dogs/base.html' %}

{% block content %}
    <form method="post" enctype="multipart/form-data" class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    {% if object %}
                        Редактирование собаки
                    {% else %}
                        Добавление собаки
                    {% endif %}
                </div>
                <div class="card-body">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" class="btn btn-outline-success" value="
                        {% if object %}
                            Сохранить
                        {% else %}
                            Добавить
                        {% endif %}">
                    {% if object %}
                    <a href="{% url 'dogs:toggle_activity' object.pk %}"
                       class="btn btn-outline-warning float-right">
                        {% if object.is_active %}
                        	Деактивировать
                        {% else %}
                            Активировать
                        {% endif %} 
                    </a>
                    {% endif %} 
                </div>
                <div class="card-footer">
                    <a href="{% url 'dogs:list_dogs' %}" class="btn btn-outline-primary"><< Назад</a>
                    {% if object and user.is_superuser or object.owner == user %}
                    	<a href="{% url 'dogs:delete_dog' object.pk %}" class="btn btn-outline-danger float-right">Удалить</a>
                    {% endif %} 
                </div>
            </div>
        </div>
    <div class="col-6">
        <div class="card">
            <div class="card-header">
                Родословная
            </div>
            <div class="card-body">
                {{ formset.management_form }}
                {% for form in formset.forms %}
                    {{ form.as_p }}
                	{% if not forloop.last %}
                        <hr>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    </form>
{% endblock %}