{% extends 'dogs/base.html' %}
{% load my_tags %}
{% block content %}
    <div class="row">
        {% for object in object_list %}
        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                <img class="card-img-top"
                     src="{{ object.photo|dogs_media }}" width="300" height="320"
                     alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">{{ object.name|title }}</p>
                </div>
                <div class="card-footer">
                    <a class="btn btn-link" href="{% url 'dogs:detail_dog' object.pk %}">подробнее</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock %}