{% extends 'dogs/base.html' %}
{% load my_tags %}
{% block content %}

    <div class="container">
    <div class="row">
        {% for object in object_list %}
        	{% include 'dogs/includes/inc_dog_card.html' with object=object %}
        {% endfor %}
    </div>
    {% if user.is_authenticated %}
        <a href="{% url 'dogs:create_dog' %}" class="btn btn-outline-primary m-2">Добавить собаку</a>
        <a href="{% url 'dogs:list_dogs' %}" class="btn btn-outline-success m-2 float-right">Активные собаки</a>
    	<a href="{% url 'dogs:deactivated_list_dogs' %}" class="btn btn-outline-secondary m-2 float-right">Неактивные собаки</a>
    {% endif %}
    </div>
    
{% endblock %}