{% extends 'dogs/base.html' %}
{% load my_tags %}
{% block content %}
	<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-header">Мой профиль</div>
            <img src="{{ user.avatar|user_media }}" width="300" height="700"
                 alt="Card image cap"
                 class="card-img-top">
            <div class="card-body">
                <span class="card-text">Почта: {{ user.email }}</span><br>
                <span class="card-text">Имя: {{ user.first_name }}</span><br>
                <span class="card-text">Фамилия: {{ user.last_name }}</span><br>
                <span class="card-text">Телефон: {{ user.phone|default:"Не указано" }}</span><br>
                <span class="card-text">Телеграм: {{ user.telegram|default:"Не указано" }}</span><br>
                <button class="btn btn-outline-primary">
                    <a class="btn btn-link" href="{% url 'users:update_user' %}">обновить</a>
                </button>
                <button class="btn btn-outline-warning">
                    <a class="btn btn-link" href="{% url 'users:change_password_user' %}">изменить пароль</a>
                </button>
            </div>
        </div>
    </div>
    </div>
{% endblock %}