{% load my_tags %}
<div class="col-4">
    <div class="card mb-4 box-shadow">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">{{ object.title }}</h4>
        </div>
        <div class="card-body">
            <span class="text-muted">{{ object.content }}</span>
        </div>
        <div class="card-footer"><a class="btn btn-lg btn-block btn-outline-info"
               href="{% url 'reviews:review_detail' object.pk %}">Подробнее</a>
            {% if user.is_authenticated and user.is_staff %}
            	<a class="btn btn-lg btn-block btn-outline-warning"
                   href="{% url 'reviews:review_update' object.pk %}">Изменить/Удалить</a>
            {% endif %}
        </div>
    </div>
</div>